img{

    }
    color: blue;
  }
h2{
   color: chartreuse;
  }
header{
        background-color: aquamarine;
          box-shadow: 10px 10px skyblue;
      }
div{
      border: 2px solid green;
    }
